server:
  port: 8080

spring:
  application:
    name: API-GATEWAY


  cloud:
    gateway:
      mvc:
        routes:
          - id: user-service-auth
            uri: lb://USER-SERVICE
            predicates:
              - Path=/auth/**
          - id: user-service-api
            uri: lb://USER-SERVICE
            predicates:
              - Path=/api/users/**
          - id: journal-service
            uri: lb://JOURNAL-SERVICE
            predicates:
              - Path=/api/journals/**

eureka:
  client:
    service-url:
      defaultZone: https://journal-eureka-server.onrender.com/eureka



jwt:
  secret: MySuperSecretKeyThatIsSameEverywhere