server:
  port: 8080

spring:
  application:
    name: API-GATEWAY


eureka:
  client:
    service-url:
      defaultZone: https://journal-eureka-server.onrender.com/eureka



jwt:
  secret: MySuperSecretKeyThatIsSameEverywhere